<head>
  <meta charset="utf-8">
  <title>Archive</title>
  <style>
    h4#index{
      display: inline;
      margin-bottom:0px;
      padding: 4px;
    }
    h4#index:hover{
      background-color: lightblue;
    }
  </style>
</head>
<body>
  <!-- <h3 onclick="location.href='{% url 'blog:post_list' %}'">Post</h3>
  <p>Post Archives until {% now "N d, Y" %}</p> -->
  <h2>Archive</h2>
  <div style='width:80%'>
  <span style="float: right">
    <a href="#">마이페이지</a>
  </span>


  <h4 id="index" onclick=location.href="{% url 'blog:post_list' %}">최근 게시글 </h4>
  <h4 style="display: inline">|</h4>
  <h4 id="index" style="background-color: lightyellow" onclick=location.href="{% url 'blog:post_archive' %}"> 아카이브 </h4>

  <hr>
  <ul>
    {% for date in date_list %}
    <li>
      <a href="{% url 'blog:post_year_archive' date|date:'Y' %}">{{ date|date:'Y' }}</a>
    </li>
    {% endfor %}
  </ul>
  <div></div>
  <div>
    <ul>
      {% for post in object_list %}
      <li>{{ post.mod_date|date:"Y-m-d" }}&nbsp;<a href="{{ post.get_absolute_url }}"><strong>{{ post.title }}</strong></a></li>
      {% endfor %}
    </ul>
  </div>
</div>

</body>
